/.phpunit.result.cache
tests/.phpunit.result.cache
/composer.phar
/composer
/composer.lock
/nbproject/**
/.idea/**
/.idea/workspace.xml
/cache/
/tests/migrations/
/vendor/
/smarty/templates_c/**
/index.php